﻿<div class='container'>
   
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/']">Category</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="javascript:void(0)" [routerLink]="['/question']">Question</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>