﻿<!--<div class="row">-->
    <a href="javascript:void(0)" class="btn btn-success btn-margin-bottom" (click)="newCat()">New Category</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Options</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cat of data">
            <td>{{cat.Name}}</td>
            <td>
                <a href="javascript:void(0)" (click)="openDeleteModal(cat.Id)"><i class="fa fa-remove"></i></a>
                <a href="javascript:void(0)" (click)="openEditModal(cat)"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        
    </tbody>
</table>
<modal #DeleteModal>
    <div class="modal-header">
        <h2 class="modal-title">Comfirm Deletion</h2>
    </div>
    <div class="modal-body">
        <div style="text-align:center;margin-top:20px;margin-bottom:20px" *ngIf="loading">
            <i class="fa fa-spinner fa-spin spin-big" style="font-size:30px"></i>
        </div>
        <div class="row pre-scrollable" style="margin-left: 10px;margin-right:10px;">
            Are you sure you want to delete?
        </div>
    </div>
    <div class="modal-footer">

        <button type="submit" class="btn btn-success pull-right" (click)="delete()">Submit</button>
        <button class="btn btn-default pull-left" type="button" (click)="DeleteModal.dismiss()">Cancel</button>
    </div>

</modal>
<modal #AddUpdateModal>

    <div class="modal-header">
        <h2 class="modal-title">{{modalTitle}}</h2>
    </div>
    <div class="modal-body">
        <div style="text-align:center;margin-top:20px;margin-bottom:20px" *ngIf="loading">
            <i class="fa fa-spinner fa-spin spin-big" style="font-size:30px"></i>
        </div>
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="PatientId">Category Name:</label>
                    <input type="text" class="form-control" id="GroupName" [(ngModel)]="model.Name" name="CategoryName" formControlName="Name">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" (click)="AddUpdateModal.dismiss()">Close</button>
        <button type="submit" class="btn btn-success pull-right" [disabled]="!form.valid" (click)="AddUpdateSubmit()">Submit</button>
    </div>

</modal>