﻿<!--<div class="row">-->
<a href="javascript:void(0)" class="btn btn-success btn-margin-bottom" (click)="newCat()">New Question</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Category</th>
            <th>Options</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let quest of data">
            <td>{{quest.Name}}</td>
            <td>{{quest.StartDate|jsontodate}}</td>
            <td>{{quest.EndDate|jsontodate}}</td>
            <td>{{quest.CatName}}</td>
            <td>
                <a href="javascript:void(0)" (click)="openDeleteModal(quest.Id)"><i class="fa fa-remove"></i></a>
                <a href="javascript:void(0)" (click)="openEditModal(quest)"><i class="fa fa-edit"></i></a>
            </td>

        </tr>

    </tbody>
</table>
<modal #DeleteModal>
    <div class="modal-header">
        <h2 class="modal-title">Comfirm Deletion</h2>
    </div>
    <div class="modal-body">
        <div style="text-align:center;margin-top:20px;margin-bottom:20px" *ngIf="loading">
            <i class="fa fa-spinner fa-spin spin-big" style="font-size:30px"></i>
        </div>
        <div class="row pre-scrollable" style="margin-left: 10px;margin-right:10px;">
            Are you sure you want to delete?
        </div>
    </div>
    <div class="modal-footer">

        <button type="submit" class="btn btn-success pull-right" (click)="delete()">Submit</button>
        <button class="btn btn-default pull-left" type="button" (click)="DeleteModal.dismiss()">Cancel</button>
    </div>

</modal>
<modal #AddUpdateModal>

    <div class="modal-header">
        <h2 class="modal-title">{{modalTitle}}</h2>
    </div>
    <div class="modal-body">
        <div style="text-align:center;margin-top:20px;margin-bottom:20px" *ngIf="loading">
            <i class="fa fa-spinner fa-spin spin-big" style="font-size:30px"></i>
        </div>
        <div class="row" style="margin-left: 20px;margin-right: 20px;">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="Name">Question Name:</label>
                    <input type="text" class="form-control" id="Name" [(ngModel)]="model.Name" name="Name" formControlName="Name">
                </div>
                <div class="form-group">
                    <label for="StartDate">Start Date:</label>
                    <input type="date" class="form-control" id="StartDate" [ngModel]="model.StartDate | date:'yyyy-MM-dd'" (change)="onStartDateChange($event)" name="StartDate" formControlName="StartDate">
                </div>
                <div class="form-group">
                    <label for="EndDate">End Date:</label>
                    <input type="date" da class="form-control" id="EndDate" [ngModel]="model.EndDate | date:'yyyy-MM-dd'" (change)="onEndDateChange($event)" name="EndDate" formControlName="EndDate">
                </div>
                <div class="form-group">
                    <label for="Category">Category:</label>
                  <select [(ngModel)]="model.QuestionCategoryId" class="form-control" formControlName="category" >
                      <option [value]="0">Select Category</option>
                      <option *ngFor="let cat of cats" [value]="cat.Id">{{cat.Name}}</option>
                  </select>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-left" type="button" (click)="AddUpdateModal.dismiss()">Close</button>
        <button type="submit" class="btn btn-success pull-right" [disabled]="!form.valid" (click)="AddUpdateSubmit()">Submit</button>
    </div>

</modal>